/* Header
-------------------------------------------------------------- */

header{
    padding: $baseline 0;
    position: relative;

    button{
        border-bottom: 1px solid $black;
        border-radius: 10%;
        border-right: 1px solid $black;
        float: right;
        margin: 0 10px;
        padding: 8px;
        position: absolute;
        right: -5px;
        bottom: $baseline;      
    }
}