// Path alias
$assetPath:                '/static';

// Colors
// -------------------------

// // Type
// // --------------------------------------------------
$thin:                      100;
$light:                     300;
$regular:                   400;
$semibold:                  600;
$bold:                      700;
$thick:                     800;

$baseline:                  1.5rem !default;
$base-font-family:          sans-serif !default;
$base-font-weight:          $regular !default;
$base-font-size:            100% !default;
$base-line-height:          1.5 !default;

$black:                     #262626;
$importance-0:              #fab2b3;
$importance-1:              #fce9a7;
$importance-2:              #b3e5fb;

$small:                     20em;
$medium:                    48em;

$font-size-small:           0.8em;
$font-size-medium:          1em;